@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4 mb-lg-4 fw-bold text-white">Search your city</h1>

    <div class="mb-3">
        <input type="text" id="input-city" class="form-control" placeholder="Write your city here..." >
        <button type="submit" class="btn btn-primary mt-3" onclick="searchCity()">Search</button>
    </div>
</div>
