@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4 mb-lg-4 fw-bold text-white">Search your city</h1>

    <div class="mb-3">
        <input type="text" id="input-city" class="form-control" placeholder="Write your city here..." >
        <button type="submit" class="btn btn-primary mt-3" onclick="searchCity()">Search</button>
    </div>

    <div id="container-weather">
        <h1 id="temperatureCity">22ºC</h1>
        <h3 id="cityName">City</h3>

        <div id="container-weather-text">
            <div>
                <h6 id="humidityCity">50%</h6>
                <span>Humidity</span>
            </div>

            <div>
                <h6 id="windSpeedCity">15 Km/h</h6>
                <span>Wind speed</span>
            </div>
        </div>
    </div>
</div>
